<!DOCTYPE html>
<head>
	
	<meta charset="UTF-8">
	<title>TIMETABLE</title>
	<style>
	div {
		color: black;
		font-size: 80%;
		font-family: sans-serif;
	}
	
	.grid_container {
        display: grid;
        grid-gap: 1px;
		width: 70%;
		margin: auto;
		grid-template-columns: repeat(49, 1fr);
        grid-template-rows: repeat(18, 0.5fr);
	}
	
	.item {
        background-color: white;
		border-style: solid;
		border-width: 1px;
		border-color: darkgrey;
		text-align: center;
    }
	
	.sidebarRoom {
        background-color: lavender;
    }
	
	.borderLeft {
		border-left: 2px solid black;
	}
		
	.nav_bar {
    }
	
	.list_it {
		padding: 5px;
		font: bold 12px sans-serif;
	}
	
	a {
		text-decoration: none;
	}
	
	</style>

</head>
<body>
		
	<div class="nav_bar">
		<div class="list_it">ЗАГРУЗКА АУДИТОРИЙ</div>
		<div class="list_it"><a href="map">КАРТА ЭТАЖА</a></div>
	</div>
		
<div class="grid_container">
	
	<div class="sidebarRoom"></div>
	
	  <div class="borderLeft"></div>
	  <div>ПН</div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>

	  <div class="borderLeft"></div>
	  <div>ВТ</div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	
	  <div class="borderLeft"></div>
	  <div>СР</div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	
	  <div class="borderLeft"></div>
	  <div>ЧТ</div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	
	  <div class="borderLeft"></div>
	  <div>ПТ</div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>

	  <div class="borderLeft"></div>
	  <div>СБ</div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	  <div></div>
	
	<div class="sidebarRoom">Аудитория</div>

	<div class="item borderLeft">1</div>
	<div class="item">2</div>
	<div class="item">3</div>
	<div class="item">4</div>
	<div class="item">5</div>
	<div class="item">6</div>
	<div class="item">7</div>
	<div class="item">8</div>

	<div class="item borderLeft">1</div>
	<div class="item">2</div>
	<div class="item">3</div>
	<div class="item">4</div>
	<div class="item">5</div>
	<div class="item">6</div>
	<div class="item">7</div>
	<div class="item">8</div>

	<div class="item borderLeft">1</div>
	<div class="item">2</div>
	<div class="item">3</div>
	<div class="item">4</div>
	<div class="item">5</div>
	<div class="item">6</div>
	<div class="item">7</div>
	<div class="item">8</div>

	<div class="item borderLeft">1</div>
	<div class="item">2</div>
	<div class="item">3</div>
	<div class="item">4</div>
	<div class="item">5</div>
	<div class="item">6</div>
	<div class="item">7</div>
	<div class="item">8</div>

	<div class="item borderLeft">1</div>
	<div class="item">2</div>
	<div class="item">3</div>
	<div class="item">4</div>
	<div class="item">5</div>
	<div class="item">6</div>
	<div class="item">7</div>
	<div class="item">8</div>
	
	<div class="item borderLeft">1</div>
	<div class="item">2</div>
	<div class="item">3</div>
	<div class="item">4</div>
	<div class="item">5</div>
	<div class="item">6</div>
	<div class="item">7</div>
	<div class="item">8</div>
		
	
		
</div>	

</body>